
.container-fluid {
    width: 70%;
    margin: 0 auto;
}

.container {
    margin-top:10px;

}

.app_container {
    min-height: 500px;
}

.app_call_to_action {
    border: 1px solid #eee;
    _background: #eee !important;
}

.app_center {
    margin: 0 auto;
}

.app_vertical_separator {
    padding-right: 20px;
    border-right: 2px solid #ccc;
}

.app_question {
    float: left;
    min-width: 15%;
    border: 3px solid #ccc;
    padding: 5px;
    margin-right: 15px;
}

.app_user_question {
    float: left;
    min-width: 15%;
    border: 3px solid #ccc;
    padding: 5px;
    margin-right: 15px;
}

.app_question .slider {
    height: 200px;
}

.app_question input {
    border:0;
    color:#f6931f;
    font-weight:bold;
    width: 25px;
}

/* overriding bootstrap's stuff */
.row-fluid {
    margin-left: 40px;
}

.app_footer {
    margin-left: 0px;
    background: #eee;
}

.navbar .nav {
    float: right;
    margin: 0;
}

.clear_both {
    clear: both;
}

.alert {
    margin-left:10px;
    margin-right: 10px;
    min-width: 50%;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}